/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@font-face {
  font-family: 'Muller Regular';
  src: url('../fonts/MullerRegular.eot');
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.ttf') format('truetype'),
       url('../fonts/MullerRegular.svg#MullerRegular') format('svg'),
       url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller Medium';
  src: url('../fonts/MullerMedium.eot');
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff'),
       url('../fonts/MullerMedium.ttf') format('truetype'),
       url('../fonts/MullerMedium.svg#MullerMedium') format('svg'),
       url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller Light';
  src: url('../fonts/MullerLight.eot');
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff'),
       url('../fonts/MullerLight.ttf') format('truetype'),
       url('../fonts/MullerLight.svg#MullerLight') format('svg'),
       url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller Bold';
  src: url('../fonts/MullerBold.eot');
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff'),
       url('../fonts/MullerBold.ttf') format('truetype'),
       url('../fonts/MullerBold.svg#MullerBold') format('svg'),
       url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller Black';
  src: url('../fonts/MullerBlack.eot');
  src: url('../fonts/MullerBlack.woff2') format('woff2'),
       url('../fonts/MullerBlack.woff') format('woff'),
       url('../fonts/MullerBlack.ttf') format('truetype'),
       url('../fonts/MullerBlack.svg#MullerBlack') format('svg'),
       url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// Compass extention 
@import 'compass/css3';
@import "core/icon";
@import "core/gk-icon";
@import "core/variable";
@import "core/mixin";
@import "core/reset";

@import "core/template";
@import "core/form";
@import "core/modal";
@import "select2/core";
@import "slick/slick";
@import "core/grid";
@import "core/breadcrumb";
@import "core/pagination";
@import "core/header";
@import "core/nav-tabs";

@import "core/dropdown";


@import "core/mini__menu";
@import "core/left__content";
@import "core/list__icons";
@import "core/content__box";
@import "core/map_box";

// Pages
@import "core/login";

.main__content {
	overflow: hidden;
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	background-color: #006baf;
	@extend %clear_a;
	&__center {
		overflow: hidden;
		position: relative;
		// padding-left: 24px;
		// padding-right: 24px;
	}
	&__right {
		float: right;
		display: table;
		height: 80px;
		&_item {
			display: table-cell;
			vertical-align: middle;
			padding: 0 30px;
		}
		&_top {
			color: #ffffff;
			margin-bottom: 5px;
		}
		&_link {
			color: #7bccff;
			font-size: 12px;
		}
	}
	.icon-logout {
		margin-left: 5px;
		vertical-align: sub;
	}
	&__mobile {
		display: none;
		height: 50px;
		position: relative;
		&_toggle {
			width: 15px;
			height: 14px;
			@extend %burger;
		}
	}
	@media (max-width: 1599px) {
		&__right {
			&_item {
				padding: 0 15px;
			}
		}
	}
	@media (max-width: 767px) {
		&__mobile {
			text-align: center;
			display: block;
			&_logo {
				float: none;
				display: inline-block;
				img {
					display: block;
					// height: 90%;
					max-width: 190px;
				}
			}
			&_toggle {
				display: block;
				float: left;
				margin-left: 20px;
				margin-top: 17px;
			}
			&_menu {
				white-space: normal;
				position: absolute;
				top: 50px;
				bottom: 0;
				left: -320px;
				width: 320px;
				z-index: 100;
				background-color: #006baf;
				border-top: 2px solid #009cff;
				max-height: 100%;
				overflow-y: auto;
				@include trs(.3);
				&.open {
					left: 0;
				}
				.logo {
					display: none;
				}
				.navbar {
					&__item {
						display: block;
						text-align: left;
						height: auto;
						padding: 16px;
						&:before {
							display: none;
						}
					}
					&__link {
						i {
							display: inline-block;
							vertical-align: middle;
							margin-right: 15px;
							margin-bottom: 0;
						}
						&_name {
							display: inline-block;
							font-size: 14px;
							vertical-align: middle;
						}
					}
				}
			}
		}
		&__right {
			float: none;
		}
	}
}

.icon-logout {
	background: image-url('logout.svg') no-repeat center center;
	background-size: contain;
	width: 13px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	float: left;
	display: block;
	margin: 12px 0 14px 38px;
	@media (max-width: 1279px) {
		margin: 12px 0 14px 20px;
	}
	@media (max-width: 1199px) {
		width: 40px;
		overflow: hidden;
		margin-right: 20px;
		img {
			max-width: none;
		}
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin-bottom: 0;
	white-space: nowrap;
	@extend %clear_a;
	@include border-radius(0);
	&__arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 24px;
		background-color: transparentize(#ffffff, .8);
		cursor: pointer;
		z-index: 2;
		&:hover {
			opacity: .8;
		}
		&_prev {
			left: 0;
		}
		&_next {
			right: 0;
		}
	}
	&__item {
		// display: table-cell;
		height: 80px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		@include border-radius(0);
		// white-space: nowrap;
		&.active,&:hover {
			background-color: #194574;
			.navbar__link {
				color: #fff;
				i {
					opacity: 1;
				}
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #009cff;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			height: 80px;
			vertical-align: middle;
			width: 0;
			letter-spacing: -1px;
		}
	}
	&__link {
		color: transparentize(#fff, .2);
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		font-family: 'Muller Light';
		i {
			opacity: .8;
			margin-bottom: 6px;
			font-size: 25px;
		}
		&:hover,&:focus {
			color: #fff;
			text-decoration: none;
		}
		&_name {
			display: block;
			// white-space: nowrap;
		}
	}
	@media (max-width: 1599px) {
		&__item {
			padding-left: 10px;
			padding-right: 10px;
			// min-width: 90px;
		}
	}
	@media (max-width: 1279px) {
		&__item {
			// min-width: 80px;
		}
		&__link {
			i {
				// width: 20px;
				// height: 20px;
				// margin-bottom: 0;
			}
			&_name {
				font-size: 12px;
			}
		}
	}	
	@media (max-width: 991px) {
		&__link {
			i {
				// width: 20px;
				// height: 20px;
				// margin-bottom: 0;
			}
			&_name {
				min-height: 14px;
				font-size: 0;
			}
		}
		&__item {
			min-width: 50px;
			&.active {
				.navbar {
					&__link {
						&_name {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
