/*
Error: Undefined mixin 'border-radius'.
        on line 2 of /home/busforward/www/gcard/scss/core/_bage.scss, in `border-radius'
        from line 2 of /home/busforward/www/gcard/scss/core/_bage.scss

1: .bage {
2: 	@include border-radius(15px);
3: 	padding: 0 5px;
4: 	line-height: 18px;
5: 	min-width: 18px;
6: 	display: inline-block;
7: 	background-color: #ff0049;

Backtrace:
/home/busforward/www/gcard/scss/core/_bage.scss:2:in `border-radius'
/home/busforward/www/gcard/scss/core/_bage.scss:2
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:349:in `block in visit_mixin'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/busforward/Prepros-linux-64/resources/app/ruby/ruby_gems/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/busforward/Prepros-linux-64/resources/app/ruby/loader.rb:15:in `load'
/home/busforward/Prepros-linux-64/resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'border-radius'.\A         on line 2 of /home/busforward/www/gcard/scss/core/_bage.scss, in `border-radius'\A         from line 2 of /home/busforward/www/gcard/scss/core/_bage.scss\A \A 1: .bage {\A 2: 	@include border-radius(15px);\A 3: 	padding: 0 5px;\A 4: 	line-height: 18px;\A 5: 	min-width: 18px;\A 6: 	display: inline-block;\A 7: 	background-color: #ff0049;"; }
