extends template.jade

block title
	title Home

block aside
	ul.nav.nav-tabs.nav-tabs-login(role="tablist")
		li.active
			a(href="#1" aria-controls="" role="tab" data-toggle="tab") Группы
		li
			a(href="#2" aria-controls="" role="tab" data-toggle="tab") Объекты

	.tab-content
		// Tab 1
		.tab-pane.active#1(role="tabpanel")
			//item 1
			.panel-heading.collapsed(data-toggle="collapse" data-target="#p1") Поиск и сортировка
			.panel-body.collapse#p1(style="height:0;")
				// begin grid
				.grid
					.grid__wrapper.width_1
						input.form-control(type="password" placeholder="Пароль")
					.grid__wrapper.width_2
						.form-label Объект
						select(data-placeholder="Все")
							option
							option(value="Русский") Русский
							option(value="Английский") Английский
					.grid__wrapper.width_2
						.form-label Объект
						select(data-placeholder="Все")
							option
							option(value="Русский") Русский
							option(value="Английский") Английский

			//item 2
			.panel-heading.collapsed(data-toggle="collapse" data-target="#p2") Ford
				span.count (2)
			.panel-body.collapse#p2(style="height:0;")
				ul.list__icons
					li.list__icons_item
						.list__icons_left
							i.icon-list-cell
						.list__icons_center
							.dropdown
								a(href="#" data-toggle="dropdown").icon-list-round(style="background-color: #81da62;") Ford Focus III У 744 РС 777
								ul.dropdown-menu
									li
										a(href="#") Построить трек
									li
										a(href="#") Выпонить отчет
									li
										a(href="#") Команда
									li
										a(href="#") Путевые листы
									li
										a(href="#") Файлы
									li
										a(href="#") Редактировать
						.list__icons_right
							|icons
					li
					li


			//item 3
			.panel-heading.collapsed(data-toggle="collapse" data-target="#p3") Personal
				span.count (10)
			.panel-body.collapse#p3(style="height:0;")


		// Tab 2
		.tab-pane.active#2(role="tabpanel")

block content
	|Main