// Modals
// Button trigger modal modal__delete 
// button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__delete") Click to open modal
// begin Modal modal__delete 
.modal.fade.modal-notif#modal__delete
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-body
				.modal-notif-title Вы действительно хотите удалить геозону?
			.modal-footer
				.btn-confirm
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__delete 

// Button trigger modal modal__create-geopoint 
// button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__create-geopoint") Click to open modal
// begin Modal modal__create-geopoint 
.modal.fade.modal__create-geopoint#modal__create-geopoint
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header
				.modal-title#myModalLabel Создание геоточек
			.modal-body 
				.form__row
					.form-label Группа геоточек
					.form-field-icon
						a(href="#").gk-icon-plus
						.form-field
							select(data-placeholder="")
								option(value="")
								option(value="1") Item
								option(value="2") Item
				.form__row
					.form-label Название геоточки
					.form-field
						input(type="text" placeholder="")
				.form__row
					.form-label Описание
					.form-field
						input(type="text" placeholder="")
			.modal-footer
				.btn-confirm
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__create-geopoint 

// Button trigger modal modal__create-geozone 
// button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__create-geozone") Click to open modal
// begin Modal modal__create-geozone 
.modal.fade.modal__create-geozone#modal__create-geozone
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header
				.modal-title#myModalLabel Создание геозоны
			.modal-body 
				.form__row
					.form-label Группа геозон
					.form-field-icon
						a(href="#").gk-icon-plus
						.form-field
							select(data-placeholder="")
								option(value="")
								option(value="1") Item
								option(value="2") Item
				.form__row
					.form-label Цвет на карте
					.form-field
						.form-color-box(style="background-color: #ff5656;")
				.form__row
					.form-label Название геозоны
					.form-field
						input(type="text" placeholder="")
				.form__row
					.form-label Максимальная скорость
					.form-field
						input(type="text" placeholder="")
				.form__row
					.form-field
						.form-checkbox
							input#ch1(type="checkbox")
							label(for="ch1") Круглая
						.form-checkbox
							input#ch2(type="checkbox")
							label(for="ch2") Произвольная
						.form-checkbox
							input#ch3(type="checkbox")
							label(for="ch3") Линейная
			.modal-footer
				.btn-confirm
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__create-geozone 

// Button trigger modal modal__create-route 
// button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__create-route") Click to open modal
// begin Modal modal__create-route 
.modal.modal-middle.fade.modal__create-route#modal__create-route
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header
				.modal-title#myModalLabel Доавление маршрута
			.modal-body
				.modal__create-route-point.modal__create-route-point--a
					.form__row
						.form-label Название
						.form-field
							input(type="text" placeholder="")
					.form__row
						.form-label Адрес
						.form-field
							input(type="text" placeholder="")
				.modal__create-route-point.modal__create-route-point--b
					.form__row
						.form-label Название
						.form-field
							input(type="text" placeholder="")
					.form__row
						.form-label Адрес
						.form-field
							input(type="text" placeholder="")
			.modal-footer
				.btn-confirm
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__create-route 

// Button trigger modal modal__add_reports 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__add_reports") Click to open modal
// begin Modal modal__add_reports 
.modal.fade.modal__add_reports#modal__add_reports
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header
				.modal-title#myModalLabel E-mail отчёт
			.modal-body 
				ul.content__box-tabs(role="tablist")
					li.active
						a(href="#m1" aria-controls="" role="tab" data-toggle="tab")
							|Объект
					li
						a(href="#m2" aria-controls="" role="tab" data-toggle="tab")
							|Группа

				.content__box-tabs-pane.active#m1(role="tabpanel")
					.form__row
						.form-label Объект
						.form-field
							input(type="text" value="Ford")
					.form__row
						.form-label E-mail
						.form-field
							input(type="text" value="sdfds@fdsf.ru")
					.form__row
						.form-label Периодичность
						.form-field
							select(data-placeholder="Каждый день")
								option(value="")
								option(value="1") Item
								option(value="2") Item
					.form__row
						.form-label Тип отчёта
						.form-field
							select(data-placeholder="Поездки")
								option(value="")
								option(value="1") Item
								option(value="2") Item
					.form__row.form__row-inline
						.form-label Время
						.form-field
							input.timepicker(type="text" value="23:00")
					.form__row.form__row-inline
						.form-label Формат
						.form-field
							select(data-placeholder="Поездки")
								option(value="")
								option(value="1" selected) PDF
								option(value="2") HTML

				.content__box-tabs-pane#m2(role="tabpanel")

			.modal-footer
				.btn-confirm
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__add_reports 

// Button trigger modal modal__create-driver 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__create-driver") Click to open modal
// begin Modal modal__create-driver 
.modal.modal-large.fade.modal__create-driver#modal__create-driver
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header
				.modal-title#myModalLabel Водитель
			.modal-body
				.grid.grid__2
					.grid__wrapper
						.form__row
							.form-label Имя
							.form-field
								input(type="text" value="Сергей")
					.grid__wrapper
						.form__row
							.form-label Телефон
							.form-field
								input(type="tel" value="+7 900 910 06 40")
					.grid__wrapper
						.form__row
							.form-label Табельный номер
							.form-field
								input(type="text" value="23")
					.grid__wrapper
						.grid.grid__2
							.grid__wrapper
								.form__row
									.form-label Ключ 1
									.form-field
										input(type="text" value="23")
							.grid__wrapper
								.form__row
									.form-label Ключ 2
									.form-field
										input(type="text" value="23")
				.form__row
					.form-label Описание
					.form-field
						textarea

				.form__row
					.form-label Фото
					.form-field
						.file_upload
							button.btn Прикрепить
							div Файл не выбран
							input(type="file")
				
			.modal-footer
				.btn-confirm.float-right
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__create-driver 

// Button trigger modal modal__driver-place 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__driver-place") Click to open modal
// begin Modal modal__driver-place 
.modal.modal-xlarge.fade.modal__driver-place#modal__driver-place
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header
				.modal-title#myModalLabel Название модали
			.modal-body
				table.content__box_table.form__row
					thead
						tr
							th Объект
							th Время назначения на объект
							th Время снятия с объекта
							th
					tbody
						tr
							td Jeep Широкий
							td 01.01.2017 00:00
							td 31.12.2017 00:00
							td
								.delete__link
									i.icon-close 
									|Удалить
						tr
							td Jeep Широкий
							td 01.01.2017 00:00
							td 31.12.2017 00:00
							td
								.delete__link
									i.icon-close 
									|Удалить
						tr
							td Jeep Широкий
							td 01.01.2017 00:00
							td 31.12.2017 00:00
							td
								.delete__link
									i.icon-close 
									|Удалить

				.form__row
					button.btn.btn-primary Добавить
					
			.modal-footer
				.btn-confirm.float-right
					div
						button.btn(data-dismiss="modal") Отменить
					div
						button.btn.btn-primary Сохранить
// end modal modal__driver-place 
