.content__box {
	@include box-shadow(0 10px 21px rgba(0, 0, 0, 0.25));
	font-size: 13px;
	color: #333333;
	position: absolute;
	z-index: 30;
	width: 100%;
	max-width: 94%;
	@include border-radius(6px);
	&.selected {
		z-index: 31;
	}
	&_min {
		max-width: 350px;
	}
	&.ui-draggable {
		.content__box_head {
			cursor: move;			
		}
	}
	&_head {
		background-color: #133a63;
		color: #fff;
		font-family: "Muller Bold";
		font-size: 13px;
		text-transform: uppercase;
		padding: 14px 60px 14px 30px;
		position: relative;
		@include border-radius(6px 6px 0 0);
		.icon-close {
			cursor: pointer;
			position: absolute;
			top: 14px;
			right: 15px;
			font-style: normal;
			font-size: 13px;
		}
		.icon-minus {
			position: absolute;
			cursor: pointer;
			top: 9px;
			right: 44px;
			display: block;
			font-size: 20px;
		}
		&.collapsed {
			@include border-radius(6px);
		}
	}
	&_body {
		padding: 22px;
		background-color: #ffffff;
		overflow: hidden;
	}
	&_map {
		margin-bottom: 22px;
	}
	&_list {
		@extend %clear_a;
		margin-bottom: 22px;
		&-item {
			&+.content__box_list-item {
				margin-top: 8px;
			}
		}
		&-name {
			float: left;
			width: 80px;
			color: #808080;
		}
		&-descr {
			overflow: hidden;
		}
	}
	&_chart {}
	&-tabs {
		@extend %clear_a;
		margin-bottom: 42px;
		li {
			display: inline-block;
			a {
				padding: 6px 9px;
				color: #808080;
				font-size: 12px;
				display: inline-block;
				@include border-radius(3px);
				&:hover {
					text-decoration: none;
				}
			}
			&.active {
				a {
					background-color: #2d6097;
					color: #fff;
				}
			}
		}
		&-pane {
			@extend %clear_a;
			display: none;
			&.active {
				display: block;
			}
		}
	}
	&_wrap {
		@include box-sizing(content-box);
		margin: -22px -23px 0 -22px;
		// max-width: 100%;
		overflow-y: auto;
		min-height: 350px;
		&.scroll-scrollx_visible {
			padding-bottom: 13px;
		}
	}
	&_footer {
		color: #fff;
		padding: 4px 19px;
		background-color: #1c4d82;
		margin: 0 -23px -23px -23px;
		@include border-radius(0 0 6px 6px);
		&-name {
			padding: 6px 40px 6px 0;
			display: inline-block;
		}
		.paginations {
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			li {
				vertical-align: middle;
				a {
					vertical-align: middle;
				}
			}
		}
	}
	&_table {
		border: none;
		border-collapse: collapse;
		width: 100%;
		color: #333333;
        input:not([type]),
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=search],
        input[type=tel],
        input[type=number],
        input[type=datetime] {
            padding: 0 5px;
            line-height: 17px;
            background-color: #f2f2f2;
            @include border-radius(0);
            vertical-align: middle;
            border: 0;
            max-width: 199px;
            &+.icon-filter {
            	margin-left: 14px;
            	vertical-align: middle;
            }
        }
        input[type=checkbox] {
        	margin-right: 12px;
        	background-color: #cccccc;
        	&:checked:before {
        		top: 2px;
        	}
        }
        .icon-sort {
        	margin-left: 25px;
        	cursor: pointer;
        	vertical-align: middle;
        }
        th {
        	background-color: #1c4d82;
        	color: #fff;
        	text-transform: uppercase;
        	font-size: 12px;
        	font-family: "Muller Medium";
        	vertical-align: middle;
        	// min-width: 130px;
        }
        th,td {
        	padding: 9px 19px;
        	// min-width: 130px;
        	&:first-of-type {
        		width: 130px;
        	}
        	@media (max-width: 767px) {
	        	&:first-of-type {
	        		width: auto;
	        	}
        	}
        }
        &_filter {
        	background-color: #fff;
        	white-space: nowrap;
        	.icon-filter {
        		margin-left: 10px !important;
        	}
        	input[type=text] {
        		vertical-align: top;
        	}
        	&-group {
        		color: #7794b4;
        		input {
        			width: 27px;
        			margin: 0 4px;
        		}
        		.icon-filter {
        			margin-left: 5px !important;
        		}
        	}
        }
        tbody {
        	tr {
        		&:nth-child(even) {
        			background-color: #fafafa;
        		}
        	}
        }
	}
	&_slide_wrap {
		&+.content__box_head {
			margin-top: 8px;
		}
	}
	@media (max-width: 767px) {
		max-width: none;
	}
}
