.dropdown {
    font-size: 14px;
    display: inline-block;
    padding-right: 20px;
    @include border-radius(20px);
    text-align: left;
    position: relative;
    &>a {
		// padding: 15px 39px;
    	color: #fff;
    	// display: block;
    	&:hover {
    		text-decoration: none;
    	}
    }
    .caret {
    	position: absolute;
    	right: 5px;
    	top: 50%;
    	margin-top: -2px;
    }
    &-menu {
    	width: 100%;
    }
}
