.form {
    &__row {
        @extend %clear_a;
        &+.form__row {
            margin-top: 19px;
        }
    }
    &-label {
        color: #808080;
        font-family: "Muller Regular";
        font-size: 13px;
        margin-bottom: 5px;
    }
    &-field {
        color: #333333;
        .select2 {
            &-container {
                position: relative;
                z-index: 2;
                width: 100% !important;
            }
            &-selection {
                &--single {
                    @include border-radius(20px);
                    padding: 7px 12px;
                    border: 2px solid #e6e6e6;
                    min-height: 32px;
                    color: #333333;
                }
                &__rendered {
                }
            }
        }
        input:not([type]),
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=search],
        input[type=tel],
        input[type=number],
        input[type=datetime], 
        textarea {
            border: 2px solid #e6e6e6;
            width: 100%;
        }
        textarea {
            min-height: 79px;
        }
        &-icon {
            .form-field {
                overflow: hidden;
                &>* {
                    width: 100%;
                }
            }
            [class*="icon-"] {
                float: right;
                font-size: 14px;
                margin-top: 7px;
                &+.form-field {
                    padding-right: 10px;
                }
                &:hover,&:focus {
                    text-decoration: none;
                }
            }
        }
    }
    &-color-box {
        width: 65px;
        height: 32px;
        @include border-radius(4px);
        cursor: pointer;
    }
    &-checkbox {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 5px;
        [type="checkbox"] {
            background-color: #cccccc;
            margin-right: 5px;
            &+label {
                font-family: "Muller Regular";
                font-size: 13px;
                font-weight: 400;
            }
            &:checked:before {
                top: 1px;
            }
        }
    }
}

.grid {
    &+.form__row {
        margin-top: -20px;
    }
    .grid__wrapper {
        @media (max-width: 480px) {
            width: 100% !important;
        }
    }
}

.file_upload{
    position: relative;
    overflow: hidden;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    max-width: 370px;
    &> .btn{
        border: 1px solid #e6e6e6;
        background-image: linear-gradient(to top, #e6e6e6 0%, #ffffff 100%);
        padding: 0;
        float: right;
        height: 32px;
        width: 134px;
    }
    &> div{
        border: 2px solid #e6e6e6;
        @include border-radius(16px);
        padding: 0px 19px;
        max-width: 228px;
        height: 32px;
    }
    input[type=file]{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(20);
        letter-spacing: 10em;     /* IE 9 fix */
        -ms-transform: scale(20); /* IE 9 fix */
        opacity: 0;
        cursor: pointer
    }
    @media ( max-width: 440px ){
        &> div{
            display: none;
        }
        &> .btn{
            width: 100%;
        }
    }
}

// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	@extend %form_field;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0;
    // border: 1px solid #aaa;
    outline: 0;
    overflow: hidden;
    // margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
    background-color: #009cff;
    @include border-radius(2px);
}

input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: 0;
}

input[type=radio] {
    @include border-radius(50%);
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;

}

input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #fff;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
    content: image-url('checkbox.svg');
    position: absolute;
    display: block;
    width: 12px;
    height: 8px;
    top: 3px;
    left: 2px;
}

input[type=checkbox]:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}

/* ======================================== 
Buttons
======================================== */
// Style for button and pseudo button for input and link
.btn {
    color: $btn_default_text_color;
    font-family: "Muller Medium";
    font-size: 13px;
    font-weight: normal;
    padding: 10px 20px 10px;
    border: 2px solid #009cff;
    outline: none;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    max-width: 100%;
    cursor: pointer;
    @include border-radius(20px);
    @include trs(0.3s);
    &:hover,&:active {
        // background-color: lighten($btn_default_bg_color, 7%);
        border: 2px solid lighten(#009cff, 7%);
        outline: 0;
    }
    &:focus {
        border: 2px solid lighten(#009cff, 7%);
        outline: 0;
    }
    @each $status_el, $color_el_bg in $el_bg_colors {
        &-#{$status_el} {
            background-color: $color_el_bg;
            color: $btn_contrast_text_color;
            &:hover,&:active {
                border-color: lighten($color_el_bg, 7%);
                background-color: lighten($color_el_bg, 7%);
            }
            &:focus {
                border-color: $color_el_bg;
                background-color: $color_el_bg;
                color: $btn_contrast_text_color;
                @include text-shadow(none);
            }
        }
    }   
}

.btn-group {
    .btn {
        &-select {
            padding: 0;
            .select2 {
                &-container {
                    border: none;
                }
            }
        }
    }
}
