$icomoon-font-path: "../fonts" !default;

$gk-icon-close: "\e91a";
$gk-icon-plus: "\e919";
$gk-icon-arrow-on-world-grid: "\e900";
$gk-icon-auto-repair-service: "\e901";
$gk-icon-auto-sound: "\e902";
$gk-icon-car-driver: "\e903";
$gk-icon-car-facing-right: "\e904";
$gk-icon-car-navigation: "\e905";
$gk-icon-car-statistics: "\e906";
$gk-icon-chat: "\e907";
$gk-icon-copy-document: "\e908";
$gk-icon-dual-carriageway: "\e909";
$gk-icon-export: "\e90a";
$gk-icon-gps-location: "\e90b";
$gk-icon-highway: "\e90c";
$gk-icon-logout: "\e90d";
$gk-icon-logout-b: "\e90e";
$gk-icon-logout-round: "\e90f";
$gk-icon-magnifying-glass: "\e910";
$gk-icon-paper-airplane: "\e911";
$gk-icon-pen-on-square: "\e912";
$gk-icon-renewable: "\e913";
$gk-icon-route: "\e914";
$gk-icon-settings: "\e915";
$gk-icon-signs: "\e916";
$gk-icon-support: "\e917";
$gk-icon-tracker: "\e918";

@font-face {
  font-family: 'glcard';
  src:  url('#{$icomoon-font-path}/glcard.eot?s5e017');
  src:  url('#{$icomoon-font-path}/glcard.eot?s5e017#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/glcard.ttf?s5e017') format('truetype'),
    url('#{$icomoon-font-path}/glcard.woff?s5e017') format('woff'),
    url('#{$icomoon-font-path}/glcard.svg?s5e017#glcard') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gk-icon-"], [class*=" gk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glcard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gk-icon-close,.icon-close {
  &:before {
    font-family: 'glcard' !important;
    content: $gk-icon-close;
  }
}

.gk-icon-plus {
  &:before {
    content: $gk-icon-plus;
  }
}
.gk-icon-arrow-on-world-grid {
  &:before {
    content: $gk-icon-arrow-on-world-grid;
  }
}
.gk-icon-auto-repair-service {
  &:before {
    content: $gk-icon-auto-repair-service;
  }
}
.gk-icon-auto-sound {
  &:before {
    content: $gk-icon-auto-sound;
  }
}
.gk-icon-car-driver {
  &:before {
    content: $gk-icon-car-driver;
  }
}
.gk-icon-car-facing-right {
  &:before {
    content: $gk-icon-car-facing-right;
  }
}
.gk-icon-car-navigation {
  &:before {
    content: $gk-icon-car-navigation;
  }
}
.gk-icon-car-statistics {
  &:before {
    content: $gk-icon-car-statistics;
  }
}
.gk-icon-chat {
  &:before {
    content: $gk-icon-chat;
  }
}
.gk-icon-copy-document {
  &:before {
    content: $gk-icon-copy-document;
  }
}
.gk-icon-dual-carriageway {
  &:before {
    content: $gk-icon-dual-carriageway;
  }
}
.gk-icon-export {
  &:before {
    content: $gk-icon-export;
  }
}
.gk-icon-gps-location {
  &:before {
    content: $gk-icon-gps-location;
  }
}
.gk-icon-highway {
  &:before {
    content: $gk-icon-highway;
  }
}
.gk-icon-logout {
  &:before {
    content: $gk-icon-logout;
  }
}
.gk-icon-logout-b {
  &:before {
    content: $gk-icon-logout-b;
  }
}
.gk-icon-logout-round {
  &:before {
    content: $gk-icon-logout-round;
  }
}
.gk-icon-magnifying-glass {
  &:before {
    content: $gk-icon-magnifying-glass;
  }
}
.gk-icon-paper-airplane {
  &:before {
    content: $gk-icon-paper-airplane;
  }
}
.gk-icon-pen-on-square {
  &:before {
    content: $gk-icon-pen-on-square;
  }
}
.gk-icon-renewable {
  &:before {
    content: $gk-icon-renewable;
  }
}
.gk-icon-route {
  &:before {
    content: $gk-icon-route;
  }
}
.gk-icon-settings {
  &:before {
    content: $gk-icon-settings;
  }
}
.gk-icon-signs {
  &:before {
    content: $gk-icon-signs;
  }
}
.gk-icon-support {
  &:before {
    content: $gk-icon-support;
  }
}
.gk-icon-tracker {
  &:before {
    content: $gk-icon-tracker;
  }
}

