// Icon
[class^="icon-"], [class*="icon-"] {
	display: inline-block;
	&:before {
		// content: '';
	}
}

.icon-logout {
	background: image-url('logout.svg') no-repeat center center;
	background-size: contain;
	width: 13px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}

.icon-list-cell {
	&:before {
		content: image-url('list-cell.png');
	}
}

.icon-list-truck {
	&:before {
		content: image-url('icon-truck.png');
	}
}

.icon-settings {
	&:before {
		content: image-url('settings.png');
	}
}

.icon-send {
	&:before {
		content: image-url('icon-send.png');
	}
}

.icon-list-round {
	vertical-align: middle;
	margin-right: 10px;
	width: 8px;
	height: 8px;
	display: inline-block;
	@include border-radius(8px);
}

.icon-p {
	&:before {
		content: 'P';
		font-weight: 600;
	}
}

.icon-minus {
	&:before {
		content: '—';
	}
}

%burger {
	border-top: 1px solid transparentize(#fff, .6);
	border-bottom: 1px solid transparentize(#fff, .6);
	position: relative;
	display: inline-block;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: transparentize(#fff, .6);
		position: absolute;
		top: 6px;
	}
}
.icon-sort {
	&:before {
		content: image-url('icon-sort.png');
	}
	&-up {
		@include rotate(18deg);
	}
}

.icon-filter {
	&:before {
		content: image-url('icon-filter.png');
	}
}

.icon-info {
	&:before {
		content: image-url('icon-info.png');
	}
}

.icon-info {
	&:before {
		content: image-url('icon-info.png');
	}
}

.icon-calendar {
	&:before {
		content: image-url('icon-calendar.png');
	}
}
