.left__content {
	float: left;
	width: 444px;
	background-color: #194574;
	position: relative;
	color: #fff;
	position: relative;
	// display: table;
	// max-height: 100%;
	@include trs(.5);
	&_hide {
		margin-left: -444px;
		.left__content_toggle {
			@include trs(0);
			@include rotate(180deg);
		}
	}
	&_wrap {
		padding: 11px 25px 41px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 100%;
		height: 100%;
	}
	&_toggle {
		position: absolute;
		cursor: pointer;
		right: -29px;
		top: 0;
		bottom: 0;
		width: 29px;
		background: image-url('left_toggle.svg') no-repeat center center transparentize(#185379, .6);
		-webkit-transition: background-color 0.4s;
		transition: background-color 0.4s;
		z-index: 5;
		&:hover {
			background-color: transparentize(#185379, .5);
		}
	}
	input:not([type]),
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=url],
	input[type=search],
	input[type=tel],
	input[type=number],
	input[type=datetime], 
	textarea,
	select,
	.select2 {
		width: 100% !important;
		font-family: "Muller Medium";
	}
	.nav-tabs {
		margin-bottom: 20px !important;
		&>li {
			&>a {
				margin-left: 3px;
				margin-right: 3px;
				font-family: "Muller Medium";
				cursor: pointer;
				i {
					cursor: pointer;
					margin-right: 10px;
				}
			}
		}
	}
	.panel {
		&-heading {
			background-color: #133a63;
			padding: 15px 40px 14px 17px;
			font-family: "Muller Medium";
			font-size: 14px;
			text-transform: uppercase;
			position: relative;
			cursor: pointer;
			margin-bottom: 0;
			width: 100%;
			@include border-radius(6px 6px 0 0);
			@include trs(.3);
			&-name {
				overflow: hidden;
				text-overflow: ellipsis;
				&--normal {
					text-transform: none;
				}
			}
			.count {
				font-size: 15px;
				color: #376e91;
				margin-left: 5px;
			}
			&:before,&:after {
				content: '';
				width: 10px;
				height: 2px;
				display: block;
				position: absolute;
				position: absolute;
				right: 0;
				top: 50%;
				background-color: #6995b7;
				@include trs(.3);
			}
			&:before {
				right: 22px;
				@include rotate(45deg);
			}
			&:after {
				right: 16px;
				@include rotate(-45deg);
			}
			&.collapsed {
				margin-bottom: 3px;
				@include border-radius(6px);
				&:before {
					right: 20px;
					@include rotate(0deg);
				}
				&:after {
					right: 16px;
					@include rotate(0deg);
				}
			}
			&-icons {
				padding: 15px 17px 14px 40px;
				&:before,&:after {
					top: 22px;
				}
				&:before {
					right: auto;
					left: 12px;
				}
				&:after {
					right: auto;
					left: 18px;
				}
				&.collapsed {
					margin-bottom: 3px;
					&:before {
						right: auto;
						@include rotate(0deg);
					}
					&:after {
						right: auto;
						left: 16px;
						@include rotate(0deg);
					}
				}
				[class*='icon-'] {
					float: right;
					position: relative;
					width: 15px;
					margin-left: 7px;
					color: #6995b7;
					font-size: 13px;
					@include trs(.3);
					&:hover {
						text-decoration: none;
						opacity: .8;
					}
					&:focus {
						text-decoration: none;
					}
				}
				.icon-send {
					width: 18px;
					margin-top: 1px;
				}
			}
			&>.gk-icon-plus {
				margin-right: 10px;
				&:hover,&:active,&:focus {
					text-decoration: none;
				}
			}
			&-route {
				margin-bottom: 3px;
				text-transform: none;
				padding-left: 53px;
				@include border-radius(6px);
				&:after {
					display: none;
				}
				&:before {
					content: $gk-icon-signs;
					font-family: 'glcard';
					color: #6995b7;
					@include rotate(0deg);
					top: 8px;
					font-size: 25px;
					width: auto;
					height: auto;
					background-color: transparent;
				}
				&:hover,&.active {
					background-color: #2d6097;
					color: #fff;
					text-decoration: none;
				}
			}
			&-info {
				margin-bottom: 3px;
				text-transform: none;
				padding-left: 49px;
				@include border-radius(6px);
				&:after {
					display: none;
				}
				&:before {
					content: image-url('icon-info.png');
					@include rotate(0deg);
					top: 15px;
					background-color: transparent;
				}
				&:hover,&.active {
					background-color: #2d6097;
					color: #fff;
					text-decoration: none;
				}
				.bage {
					float: right;
				}
				.panel-heading-name {
					font-size: 15px;
					span {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					a {
						color: #009cff;
					}
				}
			}
		}
		&-body {
			padding: 18px 10px;
			background-color: #1c4d82;
			margin-bottom: 17px;
			@include border-radius(6px);
			@include trs(.2);
			&-pad {
				padding-left: 23px !important;
				padding-right: 23px !important;
			}
			&.in {
				padding: 18px 10px;
				margin-bottom: 17px;
				@include border-radius(0 0 6px 6px);
			}
			&-title {
				font-family: "Muller Medium";
				font-size: 14px;
				text-transform: uppercase;
				margin-bottom: 27px;
			}
		}
	}
	.form-label {
		margin-bottom: 6px;
		padding-left: 12px;
		color: #fff;
	}
	.grid {
		&__wrapper {
			padding-bottom: 13px;
		}
	}
	.form {	
		&__field {
			.form-label {
				color: #fff;
			}
			&-select_input {
				position: relative;
				.select2 {
					&-container {
						position: relative;
						z-index: 2;
						width: 120px !important;
						.select2-selection--single {
							@include border-radius(20px 0 0 20px);
							font-size: 12px;
							padding: 9px 12px;
						}
					}
				}
				input {
					position: absolute;
					top: 0;
					z-index: 1;
					color: #fff;
					padding: 9px 95px 8px 130px;
					font-size: 13px;
				}
				.btn {
					position: absolute;
					right: 0;
					top: 0;
					padding: 6px 20px 4px;
					z-index: 2;
					font-size: 13px;
					margin: 0;
				}
			}
		}
		&__row {
			@extend %clear_a;
			&_inline {
				.form {
					&-label {
						float: left;
						margin: 9px 21px 9px 0;
						padding-left: 0;
					}
					&__field {
						overflow: hidden;
					}
				}
			}
			&.max__speed {
				.form {
					&-label {
						float: left;
						margin: 9px 15px 9px 0;
						padding-left: 0;
						width: 70%;
						@media (max-width: 767px) {
							margin-right: 5px;
							width: 75%;
						}
					}
					&__field {
						overflow: hidden;
						input {
						}
					}
				}
			}
		}
	}
	&_checkbox {
		.grid {
			margin-bottom: -20px;
		}
	}
	input[type="checkbox"] {
		float: left;
		&+.form-label {
			overflow: hidden;
		}
		&:checked:before,
		&:indeterminate:before {
			top: 1px;
		}
	}
	&_tabs {
		margin-bottom: 14px;
		li {
			font-family: "Muller Medium";
			font-size: 12px;
			font-weight: 400;
			display: inline-block;
			margin-right: 17px;
			a {
				color: transparentize(#fff, .36);
				display: block;
				padding: 6px 9px;
				&:hover,&:focus {
					text-decoration: none;
				}
			}
			&.active {
				a {
					color: #fff;
					background-color: #2d6097;
					@include border-radius(5px);
				}
			}
		}
	}
	.btn {
		color: #fff;
		margin-right: 10px;
		padding: 5px 20px;
		font-size: 13px;
		&-group {
		    .btn {
		    	margin: 0;
		    	&:last-child {
		    		margin-left: -2px;
		    	}
		        &-select {
		            padding: 0;
		            .select2 {
		                &-container {
		                    border: none;
		                }
		                &-selection {
		                	&--single {
		                		border: none;
		                		font-size: 13px;
		                		padding-right: 20px;
		                		padding: 8px 30px 7px 20px;
		                		font-family: "Muller Medium";
		                	}
		                }
		            }
		        }
		    }
		}
	}
	@media (max-width: 1199px) {
		width: 380px;
		position: absolute;
		z-index: 35;
		&_hide {
			margin-left: -380px;
		}
	}
	@media (max-width: 991px) {
	}
	@media (max-width: 767px) {
		max-width: 320px;
		&_toggle {
			right: -15px;
			width: 15px;
		}
		&_hide {
			margin-left: -320px;
		}
		&_wrap {
			padding-left: 10px;
			padding-right: 10px;
		}
		.form {	
			&__field {
				.form-label {
				}
				&-select_input {
					.select2 {
						&-container {
							.select2-selection--single {
							}
						}
					}
					input {
						padding-right: 15px;
					}
					.btn {
						position: relative;
						width: 100%;
						margin-top: 10px;
					}
				}
			}
		}
		&_tabs {
			li {
				margin-right: 10px;
			}
		}
	}
}
