/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin-bottom: 0;
	white-space: nowrap;
	@extend %clear_a;
	@include border-radius(0);
	&__arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 24px;
		background-color: transparentize(#ffffff, .8);
		cursor: pointer;
		z-index: 2;
		&:hover {
			opacity: .8;
		}
		&_prev {
			left: 0;
		}
		&_next {
			right: 0;
		}
	}
	&__item {
		// display: table-cell;
		height: 80px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		@include border-radius(0);
		// white-space: nowrap;
		&.active,&:hover {
			background-color: #194574;
			.navbar__link {
				color: #fff;
				i {
					opacity: 1;
				}
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #009cff;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			height: 80px;
			vertical-align: middle;
			width: 0;
			letter-spacing: -1px;
		}
	}
	&__link {
		color: transparentize(#fff, .2);
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		font-family: 'Muller Light';
		i {
			opacity: .8;
			margin-bottom: 6px;
			font-size: 25px;
		}
		&:hover,&:focus {
			color: #fff;
			text-decoration: none;
		}
		&_name {
			display: block;
			// white-space: nowrap;
		}
	}
	@media (max-width: 1599px) {
		&__item {
			padding-left: 10px;
			padding-right: 10px;
			// min-width: 90px;
		}
	}
	@media (max-width: 1279px) {
		&__item {
			// min-width: 80px;
		}
		&__link {
			i {
				// width: 20px;
				// height: 20px;
				// margin-bottom: 0;
			}
			&_name {
				font-size: 12px;
			}
		}
	}	
	@media (max-width: 991px) {
		&__link {
			i {
				// width: 20px;
				// height: 20px;
				// margin-bottom: 0;
			}
			&_name {
				min-height: 14px;
				font-size: 0;
			}
		}
		&__item {
			min-width: 50px;
			&.active {
				.navbar {
					&__link {
						&_name {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
