$icomoon-font-path: "../../fonts" !default;

$gk-icon-arrow-on-world-grid: "\e900";
$gk-icon-auto-repair-service: "\e901";
$gk-icon-auto-sound: "\e902";
$gk-icon-car-driver: "\e903";
$gk-icon-car-facing-right: "\e904";
$gk-icon-car-navigation: "\e905";
$gk-icon-car-statistics: "\e906";
$gk-icon-chat: "\e907";
$gk-icon-copy-document: "\e908";
$gk-icon-dual-carriageway: "\e909";
$gk-icon-export: "\e90a";
$gk-icon-gps-location: "\e90b";
$gk-icon-highway: "\e90c";
$gk-icon-logout: "\e90d";
$gk-icon-logout-b: "\e90e";
$gk-icon-logout: "\e90f";
$gk-icon-magnifying-glass: "\e910";
$gk-icon-paper-airplane: "\e911";
$gk-icon-pen-on-square: "\e912";
$gk-icon-renewable: "\e913";
$gk-icon-route: "\e914";
$gk-icon-settings: "\e915";
$gk-icon-signs: "\e916";
$gk-icon-support: "\e917";
$gk-icon-tracker: "\e918";

